h3 {
    text-align: center;
}

.sign-in {
    margin-right: 15px;
}

.userLogin {
    display: flex;
    margin: 15px;
    height: 50px;
}

.btnSubmit {
    position: relative;
}

a.link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

button.invitedUser.mat-raised-button.mat-primary {
    position: absolute;
    top: 245px;
    left: 730px;
}